* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

main {
  background-color: #c1f1fa; }

main .text-envios, main .form-index {
  border: #02456b 6px double; }

main .input-css-index, main .tienda .cubo1-index, main .img-contacto {
  border: #02456b solid 2px; }

h4 {
  font-size: 22px;
  font-family: "Zilla Slab", serif; }

.text-records, .subtitle-historia, .main-resolucion p, .main-resolucion li, main h3 {
  margin-left: 20%;
  margin-right: 20%; }

.text-records, .main-resolucion p, .main-resolucion li {
  padding: 2%;
  background-color: aliceblue;
  border-radius: 4%; }

header,
footer {
  background-color: #02456b; }

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: sticky;
  top: 0%;
  z-index: 1; }
  header .container-fluid {
    justify-content: flex-end !important; }
    header .container-fluid .navbar-collapse {
      transition: height 0.7s linear; }
  header .navbar-toggler {
    background-color: #d7f2f6; }
  header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 1%; }
  header li a {
    text-decoration: none;
    color: #d7f2f6 !important;
    font-family: "Zilla Slab", serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 500; }
    header li a:hover {
      text-decoration: underline;
      transition: 03s; }

.logo {
  width: 7%;
  padding-top: 0.5%;
  background-color: #02456b;
  position: relative;
  left: 45%;
  animation: logo 2s both; }

.nav-link {
  font-size: 22px; }

footer span {
  margin-left: 35%;
  color: #d7f2f6;
  text-align: center; }

footer img {
  margin: 1%;
  max-width: 80%; }

footer .medios {
  text-align: center; }

main h1 {
  font-family: "Zilla Slab", serif;
  font-size: 36px;
  font-style: oblique;
  font-weight: bolder;
  text-align: left;
  padding: 3%; }

main .banner {
  width: 100%; }

main .row-index {
  align-items: center; }

main .text-envios {
  margin: 3% 0% 3% 0%;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  width: 100%; }
  main .text-envios:hover {
    box-shadow: 0 5px 150px #02456b; }

main .videorecord {
  max-width: 100%; }
  main .videorecord:hover {
    box-shadow: 0 5px 15px #02456b; }

main .form-index {
  padding: 30px;
  display: flex;
  flex-direction: column; }
  main .form-index .index-form-h2 {
    margin: 0% 0% 6% 0%; }
  main .form-index .form-check-input:hover {
    border: 0.7mm #02456b solid; }

main .tienda {
  grid-column: 2;
  align-items: center; }
  main .tienda .cubo1-index {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4%;
    padding: 1%;
    border-radius: 15%;
    background-color: #d7f2f6; }
    main .tienda .cubo1-index:hover {
      color: #d7f2f6;
      box-shadow: 0 5px 15px #02456b;
      background-color: #02456b; }
  main .tienda .tienda-index {
    width: 70%;
    margin: 5%;
    border-radius: 7%; }

@keyframes logo {
  30% {
    transform: rotate(0);
    transform-origin: 100% 100%; }
  60% {
    transform: rotate(90deg);
    transform-origin: 100% 100%; }
  100% {
    transform: rotate(0);
    transform-origin: 100% 100%; } }

.btn-primary {
  background-color: #d7f2f6;
  color: black;
  border-color: #02456b; }
  .btn-primary:hover {
    color: white;
    border-color: #d7f2f6;
    background-color: #02456b; }

.tienda-index {
  width: 70%;
  margin: 5%;
  border-radius: 7%; }

.cubo1-index {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4%;
  border: #02456b solid 2px;
  padding: 1%;
  border-radius: 15%;
  background-color: #d5f1f5; }
  .cubo1-index:hover {
    box-shadow: #02456b -5px 5px, #02456bcb -10px 10px, #02456b84 -15px 15px, #02456b61 -20px 20px, #02456b24 -25px 25px; }

h4 {
  margin-left: 3%; }

.vidkid {
  position: relative;
  left: 20%;
  max-width: 70%; }
  .vidkid:hover {
    box-shadow: 0 5px 15px #02456b; }

p {
  text-align: justify;
  margin-left: 3%; }

.imghistoria {
  width: 50%;
  margin: 3%; }

.main-resolucion li {
  text-decoration: none; }

h2 {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  font-style: oblique;
  font-weight: bolder;
  text-align: left;
  margin-left: 15%; }

.text-resolucion {
  font-weight: bolder;
  font-size: larger;
  border: #02456b 2px solid;
  border-radius: 0%; }

.img-cubo-resolucion {
  width: 70%; }

.img-cubo-resolucion2 {
  width: 30%;
  position: relative;
  left: 30%; }

main form {
  display: flex;
  justify-content: flex-end; }
  main form:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
  main form input {
    padding: 0.25%;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    background-color: #d7f2f6;
    border: none;
    border-radius: 5%; }

main .img-contacto {
  display: flex;
  width: 50%;
  padding: 2%;
  margin: 5% 0% 10% 20%;
  border-radius: 15%; }

main h3 {
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  font-weight: bolder; }

main input,
main .input-css-index {
  background-color: #deeff198;
  width: 100%; }

@media (max-width: 1440px) {
  header .container-fluid .navbar-collapse {
    justify-content: center; } }

@media (max-width: 991px) {
  .navbar-collapse {
    justify-content: flex-end;
    text-align: right; } }

@media (max-width: 768px) {
  .form-index {
    width: 65%;
    font-size: 12px;
    padding: 3%;
    border: #02456b 4px double; }
  header .logo {
    width: 11%; }
  header .nav-link {
    font-size: 18px; }
  header form input {
    font-size: 10px; }
  .text-tienda-index,
  .precio-index {
    font-size: 16px; }
  .videorecord {
    max-width: 100%; }
  .cubo1-index {
    border: #02456b 4px double; }
  .button-index {
    font-size: 9px; }
  .input-form-index {
    font-size: 14px;
    height: 30px;
    width: 70%; }
  .row-index {
    flex-direction: column;
    align-items: center; }
  h3 {
    font-size: 16px; }
  h2 {
    font-size: 16px;
    margin-left: 15%; }
  footer span {
    margin-left: 25%; } }

@media (max-width: 576px) {
  .text-envios {
    display: none; }
  .row-index {
    flex-direction: column;
    align-items: center; }
  .logo {
    width: 9%; }
  footer span,
  .btn-primary,
  .card-text {
    font-size: 14px; }
  h1,
  .card-title {
    font-size: 16px; }
  .nav-link {
    font-size: 14px; }
  .form-index {
    margin: 0px 0px 0px 34px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .row-index {
    flex-direction: column; }
  .input-form-index,
  .input-css-index {
    font-size: 14px;
    height: 20px;
    width: 70%; }
  .text-tienda-index,
  .precio-index {
    font-size: 12px; }
  .button-index {
    font-size: 8px; }
  header form {
    display: none; } }
