main {
    .img-contacto {
        display: flex;
        width: 70%;
        padding: 2%;
        margin: 8%;
        @extend %border2px;
        border-radius: 15%;
    }

    h3 {
        @extend %font-style;
    }

    input, .input-css-index
    {
        background-color: $color-claro;
    }

    h3 {
        margin: 3%;
    }

}