%marg-5 {
    margin-left: 5%;
    margin-right: 5%;
}

%border6px {
    border: $color-oscuro 6px double;
}

%border2px {
    border: $color-oscuro solid 2px;
}
%font-style{
    font-size: 22px;
    font-family: $zilla;
}