header,
footer {
    background-color: $color-oscuro;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: sticky;
    top: 0%;
    z-index: 1;

    .navbar {
        padding-left: 15%;

    }
    .container-fluid{
        justify-content: flex-end !important;
    }
    .navbar-toggler {
        background-color: $color-medio;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 1%;
    }

    li a {
        text-decoration: none;
        color: $color-medio  !important;
        font-family: $zilla;
        letter-spacing: 2px;
        font-style: italic;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
            transition: 03s;
        }
    }
}


.logo {
    width: 7%;
    padding-top: 0.5%;
    background-color: $color-oscuro;
    position: relative;
    left: 45%;
    animation: logo 2s both;
}

.nav-link {
    font-size: 22px;
}


footer {
    span {
        margin-left: 35%;
        color: $color-medio;
        text-align: center;
    }

    img {
        margin: 1%;
        width: 40%;
    }

    .medios {
        text-align: center;
    }
}