main {
    h1 {
        @include title (36px);
        padding: 3%;
    }

    .banner {
        width: 100%;
    }


    .row-index {
        align-items: center;
    }

    .text-envios {
        margin: 3% 0% 3% 0%;
        padding: 30px;
        @extend %border6px;
        font-family: $roboto;
        width: 100%;

        &:hover {
            box-shadow: 0 5px 150px $color-oscuro
        }
    }

    .videorecord {
        max-width: 100%;

        &:hover {
            box-shadow: 0 5px 15px $color-oscuro
        }
    }

    .input-css-index {
        @extend %border2px;
    }

    .form-index {
        @extend %border6px;
        padding: 30px;
        display: flex;
        flex-direction: column;

        .index-form-h2 {
            margin: 0% 0% 6% 0%;
        }

        .form-check-input {
            &:hover {
                border: 0.7mm $color-oscuro solid;
            }
        }
    }

    .tienda {
        grid-column: 2;
        align-items: center;

        .cubo1-index {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 4%;
            @extend %border2px;
            padding: 1%;
            border-radius: 15%;
            background-color: $color-medio;

            &:hover {
                color: $color-medio;
                box-shadow: 0 5px 15px $color-oscuro;
                background-color: $color-oscuro;
            }
        }

        .tienda-index {
            width: 70%;
            margin: 5%;
            border-radius: 7%;
        }
    }
}