@media (max-width: 768px) {
    .form-index {
        width: 65%;
        font-size: 12px;
        padding: 3%;
        border: $color-oscuro 4px double;
    }

    header {

        .logo {
            width: 7%;
        }

    .nav-link {
        font-size: 18px;
    }

        form input {
            font-size: 10px;
        }
    }

    .text-tienda-index,
    .precio-index {
        font-size: 16px;
    }

    .videorecord {
        max-width: 100%;
    }

    .cubo1-index {
        border: $color-oscuro 4px double;
    }

    .button-index {
        font-size: 9px;
    }

    .form-index {
        margin-left: 18%;
    }

    .input-form-index {
        font-size: 14px;
        height: 30px;
        width: 70%;
    }

    .row-index {
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
        margin-left: 15%;
    }

    footer span {
        margin-left: 25%;
    }
}

@media (max-width: 576px) {

    .text-envios {
        display: none;
    }

    .row-index {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 6%;
    }

    footer span,
    .btn-primary,
    .card-text {
        font-size: 14px;
    }
    h1,
    .card-title {
        font-size: 16px;
    }

    .nav-link {
        font-size: 14px;
    }

    .form-index {
        margin: 0px 0px 0px 34px;
        font-size: 14px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .row-index {
        flex-direction: column;
    }
    .input-form-index,
    .input-css-index {
        font-size: 14px;
        height: 20px;
        width: 70%;
    }

    .text-tienda-index,
    .precio-index {
        font-size: 12px;
    }

    .button-index {
        font-size: 8px;
    }

    header form {
        display: none;
    }
}