.btn-primary {
    background-color: $color-medio;
    color: black;
    border-color: $color-oscuro;

    &:hover {
        color: white;
        border-color: $color-medio;
        background-color: $color-oscuro;
    }
}

.tienda-index {
    width: 70%;
    margin: 5%;
    border-radius: 7%;
}

.cubo1-index {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4%;
    border: #02456b solid 2px;
    padding: 1%;
    border-radius: 15%;
    background-color: #d5f1f5;

    &:hover {
        box-shadow: #02456b -5px 5px, #02456bcb -10px 10px, #02456b84 -15px 15px, #02456b61 -20px 20px, #02456b24 -25px 25px;
    }

}

h4 {
    @extend %font-style;
    margin-left: 3%;
}